<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="sidebar">

    <mat-nav-list>
      <mat-list-item class="parent" routerLink="/configurations" [routerLinkActive]="['is-active']">Configurations</mat-list-item>
      <mat-nav-list class="inner-nav">
        <mat-list-item class="child" routerLink="/countries">Countries</mat-list-item>
        <mat-list-item class="child" routerLink="/clients">Clients</mat-list-item>
        <mat-list-item class="child" routerLink="/suppliers">Suppliers</mat-list-item>
        <mat-list-item  routerLink="/mc">Media Channels</mat-list-item>
      </mat-nav-list>
      <mat-list-item class="parent" routerLink="/mediaplanner" [routerLinkActive]="['is-active']">Media Planner</mat-list-item>
      <mat-list-item class="parent" routerLink="/campaigns" [routerLinkActive]="['is-active']">Campaigns</mat-list-item>
      <mat-list-item class="parent" routerLink="/chart" [routerLinkActive]="['is-active']">Gantt Chart</mat-list-item>
    </mat-nav-list>
  </div>
  <div class="content">
    <div class="header">
        Welcome to {{ title }}!
    </div>
    <div class="router-content"><router-outlet></router-outlet></div>
  </div>
</div>
