<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="sidebar">
    <mat-nav-list>
      <mat-list-item routerLink="/configurations">Configurations</mat-list-item>
      <mat-nav-list class="inner-nav">
        <mat-list-item routerLink="/countries">Countries</mat-list-item>
        <mat-list-item routerLink="/clients">Clients</mat-list-item>
        <mat-list-item routerLink="/suppliers">Suppliers</mat-list-item>
        <mat-list-item routerLink="/mc">Media Channels</mat-list-item>
      </mat-nav-list>
      <mat-list-item routerLink="/mediaplanner">Media Planner</mat-list-item>
      <mat-list-item routerLink="/campaigns">Campaigns</mat-list-item>
      <mat-list-item routerLink="/chart">Gantt Chart</mat-list-item>
    </mat-nav-list>
  </div>
  <div class="content">
    <div class="header">
        Welcome to {{ title }}!
    </div>
    <div class="router-content"><router-outlet></router-outlet></div>
  </div>
</div>


