

<div class="" *ngIf="campaign" >
	<span>Campaign: {{campaign.id}}</span>
<div class="">
	<mat-form-field class="example-full-width">
    <input matInput placeholder="Ad Title" [(ngModel)]="adTitle">
  </mat-form-field>
	<mat-form-field>
 <mat-label>Select Supplier</mat-label>
 <mat-select (selectionChange)="onSupplierChange($event)">
	 <mat-option>None</mat-option>
	 <mat-option [value]="s.name" *ngFor="let s of suppliers" >{{s.name}}</mat-option>
 </mat-select>
</mat-form-field>
</div>
	 <div class="">
	<div style="display:inline" >
		<mat-form-field>
			<input matInput [matDatepicker]="fromAd" placeholder="From Date"  (dateInput)="addFromDateForAd( $event)" >
			<mat-datepicker-toggle matSuffix [for]="fromAd"></mat-datepicker-toggle>
			<mat-datepicker #fromAd></mat-datepicker>
		</mat-form-field>
	</div>
	&nbsp;
<div style="display:inline">
	<mat-form-field>
		<input matInput [matDatepicker]="toAd" placeholder="To Date"(dateInput)="addToDateForAd( $event)"  >
		<mat-datepicker-toggle matSuffix [for]="toAd"></mat-datepicker-toggle>
		<mat-datepicker #toAd></mat-datepicker>
	</mat-form-field>
</div>
</div>
<div class=""><mat-form-field class="example-full-width" *ngIf="ad">
      <input matInput #adbudget  placeholder="Ad Budget" name="adbudget" [(ngModel)]="ad.budget">
    </mat-form-field>
		{{ad.budget}}
</div>
<div class="">
	  <button mat-raised-button color="primary" (click)="SaveAd()">Save Ad</button>
</div>
<div class="" *ngIf="success">
	<span>Ad Created</span>
</div>
</div>
