<div class="" *ngIf="campaigns">
	<mat-form-field>
  <mat-label>Select Campaign</mat-label>
	<mat-select (selectionChange)="onCampaignSelection($event)">
		<mat-option>None</mat-option>
		<mat-option [value]="c.id" *ngFor="let c of campaigns" >{{c.id}}</mat-option>
	</mat-select>
	</mat-form-field>
</div>
<div class="">

<table>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Channel</th>
		<th>Supplier</th>
		<th>From Date</th>
		<th>To Date</th>
		<th>Budget</th>
	</tr>
	<tr *ngFor="let c of ads" (click)="popup">
		<td>{{c.id}}</td>
		<td>{{c.adTitle}}</td>
		<td>{{c.mediaChannel.name}}</td>
		<td>{{c.supplier.name}}</td>
		<td>{{c.fromDate}}</td>
		<td>{{c.toDate}}</td>
		<td>{{c.budget}}</td>

	</tr>
</table>

</div>
